@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerSubtitle{
  @apply flex items-center gap-x-1 leading-6
  text-white p-2 border-b-4 border-transparent uppercase tracking-wide hover:border-white;
}

.headerSubtitleMobile{
   @apply -mx-3 block rounded-lg py-2 px-3 text-base
   leading-7 text-white tracking-wide uppercase;
}

.title{
  font-size: 2.5rem;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
}

.subtitle{
  font-size: 1.25rem;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #303030;
}

::-webkit-scrollbar-thumb {
  background-color: #469C57;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1A3C21;
}